.content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 20px;
}
.content-head-left {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: 800;
}
.content-head-right {
  display: flex;
  font-size: 15px;
  color: rgba(0,0,0,0.6);
  cursor: pointer;
}
.content-head-right-block {
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
  background-color: #579df2;
  color: #fff;
}
