.login-container {
  margin: 0 auto;
  padding: 200px 0;
  width: 200px;
}
.user-container {
  background-color: #fff;
}
.user-top {
  height: 200px;
  background-color: #543453;
  display: flex;
  align-items: center;
}
.user-top-item {
  background-color: #f00;
  text-align: center;
  padding: 20px 0;
}
.nav-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-width: 1024px;
}
.nav-sider-log {
  height: 90px;
  background-image: url("../../images/logo.png");
  background-size: 15px 35px;
  background-repeat: no-repeat;
  background-position: 40%;
  font-size: 16px;
  color: #0068d2;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-right: 30px;
  padding-bottom: 20px;
}
.sider-icon {
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 0;
  font-size: 14px;
  text-indent: 25px;
}
.nav-sider-message {
  background-image: url("../../images/messages-icon@3x.png");
}
.nav-sider-message-select {
  background-image: url("../../images/messages-icon-hl@3x.png");
  color: #579df2;
}
.nav-sider-machine {
  background-image: url("../../images/device-icon@3x.png");
}
.nav-sider-machine-select {
  background-image: url("../../images/device-icon-hl@3x.png");
  color: #579df2;
}
.nav-sider-trouble {
  background-image: url("../../images/bug-icon@3x.png");
}
.nav-sider-trouble-select {
  background-image: url("../../images/bug-icon-hl@3x.png");
  color: #579df2;
}
.nav-sider-parts {
  background-image: url("../../images/parts-icon@3x.png");
}
.nav-sider-parts-select {
  background-image: url("../../images/parts-icon-hl@3x.png");
  color: #579df2;
}
.nav-sider-user {
  background-image: url("../../images/users-icon@3x.png");
}
.nav-sider-user-select {
  background-image: url("../../images/users-icon-hl@3x.png");
  color: #579df2;
}
.nav-sider-authority {
  background-image: url("../../images/authority-icon@3x.png");
}
.nav-sider-authority-select {
  background-image: url("../../images/authority-icon-hl@3x.png");
  color: #579df2;
}
.nav-sider-work-order {
  background-image: url("../../images/record-icon@3x.png");
}
.nav-sider-work-order-select {
  background-image: url("../../images/record-icon-hl@3x.png");
  color: #579df2;
}
.nav-content {
  margin: 20px;
  background-color: #fff;
}
.nav-head-container {
  margin-top: 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: flex-end;
}
.nav-head-block {
  width: 74px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.nav-hed-right {
  cursor: pointer;
  border-left: 1px solid rgba(0,0,0,0.12);
}
.user-arr-action {
  display: flex;
  color: #f00;
}
.user-arr-item {
  cursor: pointer;
  width: 25px;
}
.new-user-container {
  margin: 20px 25px;
}
.new-user-title {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: 500;
  margin-bottom: 30px;
}
.new-user-item {
  margin: 8px 0;
}
.new-user-item-left {
  font-size: 15px;
  margin-top: 5px;
  align-items: center;
}
.authority-title {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: 500;
}
.authority-new-tip {
  padding: 20px 50px 0 50px;
}
.authority-new-button {
  padding: 30px 50px;
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.authority-input-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.authority-input-flex {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.authority-input-text {
  width: 80px;
  font-size: 15px;
  font-weight: 800;
  margin-left: 50px;
}
.authority-input-icon {
  background-color: #d0011b;
  padding: 0 4px;
  cursor: pointer;
  margin-left: 20px;
}
.content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 20px;
}
.content-head-left {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: 800;
}
.content-head-right {
  display: flex;
  font-size: 15px;
  color: rgba(0,0,0,0.6);
  cursor: pointer;
}
.content-head-right-block {
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
  background-color: #579df2;
  color: #fff;
}
.message-header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  height: 74px;
}
.message-header-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.message-header-item {
  padding-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}
.message-header-select {
  border-bottom: 5px solid #579df2;
}
.message-header-noselect {
  border-bottom: 5px solid #fff;
}
.message-header-right {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgba(0,0,0,0.6);
}
.message-header-right:hover {
  color: rgba(0,0,0,0.6);
}
.message-header-icon {
  width: 22px;
  height: 22px;
  background-color: #579df2;
  color: #fff;
  text-align: center;
  margin-right: 10px;
}
.message-new-title {
  padding: 25px 0 14px 20px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0,0,0,0.87);
}
.message-new-content {
  padding: 0 50px;
  font-size: 15px;
}
.message-new-tip {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.6);
  font-size: 15px;
}
.message-new-button {
  margin-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.message-table-time {
  text-indent: 10px;
}
.message-arr-action {
  display: flex;
  align-items: center;
}
.message-arr-item {
  align-items: center;
  padding: 0 6px;
  margin: 0 4px;
  cursor: pointer;
}
.message-del-icon {
  color: #f00;
}
.message-edit-icon {
  font-size: 20px;
}
.message-send-icon {
  color: #579df2;
  font-size: 15px;
}
.message-edit-title {
  padding: 25px 0 14px 20px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0,0,0,0.87);
}
.message-edit-content {
  padding: 0 50px;
  font-size: 15px;
}
.message-edit-button {
  margin-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.machine-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 20px;
}
.machine-head-left {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: 800;
}
.machine-head-right {
  display: flex;
  font-size: 15px;
  color: rgba(0,0,0,0.6);
  cursor: pointer;
}
.machine-head-right-block {
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  margin-right: 10px;
  background-color: #579df2;
  color: #fff;
}
.machine-new-title {
  padding: 25px 0 14px 20px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0,0,0,0.87);
}
.machine-new-content {
  padding: 0 50px;
  font-size: 15px;
}
.machine-new-button {
  margin-top: 30px;
}
.machine-edit-content {
  padding: 0 50px;
  font-size: 15px;
}
.machine-edit-button {
  margin-top: 30px;
  margin-left: 100px;
}
.machine-edit-timeline {
  margin-left: 100px;
  margin-top: 30px;
}
.machine-input-flex {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
  margin-top: 15px;
}
.machine-input-flexs {
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
  margin-top: 15px;
}
.machine-input-left {
  width: 100px;
}
.machine-input-upload {
  margin-top: 10px;
}
.machine-table-action {
  display: flex;
  align-items: center;
  color: #579df2;
}
.machine-table-left {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.machine-table-right {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.machine-timeline {
  font-size: 14px;
}
.machine-time-type {
  font-weight: 800;
  margin-left: 10px;
}
.machine-time-des {
  margin-left: 5px;
}
.machine-control-container {
  padding: 25px 50px;
}
.machine-download-container {
  margin-top: 30px;
}
.machine-download-flex {
  display: flex;
  align-items: center;
}
.machine-download-text {
  width: 120px;
}
.machine-download-button {
  margin-top: 20px;
}
.machine-info-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 480px;
  border: 1px solid #e9e9e9;
  font-size: 12px;
}
.machine-info-flex {
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  height: 40px;
  line-height: 40px;
}
.machine-info-left {
  width: 110px;
  text-align: center;
  border-right: 1px solid #e9e9e9;
  background-color: #f7f7f7;
}
.machine-info-right {
  margin-left: 30px;
}
.machine-info-flexs {
  display: flex;
  height: 220px;
}
.machine-info-lefts {
  width: 110px;
  text-align: center;
  padding-top: 10px;
  border-right: 1px solid #e9e9e9;
  background-color: #f7f7f7;
}
.machine-info-rights {
  margin-left: 30px;
}
.machine-info-img {
  width: 300px;
  height: 200px;
  margin-top: 10px;
}
.trouble-input-flex {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
  margin-top: 15px;
}
.trouble-input-flexs {
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
  margin-top: 15px;
}
.trouble-input-left {
  width: 100px;
}
.trouble-input-lefts {
  padding-top: 5px;
  width: 100px;
}
.trouble-new-title {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 25px 20px;
}
.trouble-new-content {
  padding: 0 50px;
  font-size: 15px;
}
.trouble-new-button {
  margin-left: 100px;
  margin-top: 30px;
}
.trouble-table-icon {
  cursor: pointer;
}
.workorder-edit-title {
  padding: 25px 0 14px 20px;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0,0,0,0.87);
}
.workorder-edit-content {
  padding: 0 50px;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
}
.workorder-edit-flex {
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  margin-top: 15px;
}
.workorder-edit-left {
  width: 50px;
}
.workorder-edit-tip {
  margin-top: 15px;
  margin-bottom: 15px;
}
.workorder-edit-button {
  margin-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.workorder-title {
  display: flex;
  padding: 40px 30px 0 40px;
  color: rgba(0,0,0,0.6);
  font-weight: 500;
  font-size: 16px;
}
.workorder-title-item {
  margin-left: 40px;
  padding-bottom: 6px;
  border-bottom: 5px solid #fff;
  cursor: pointer;
}
.workorder-select {
  border-bottom: 5px solid #579df2;
}
.xxx {
  color: #fff;
}
.trouble-kind-arr {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 5px 0;
}
.troubel-kind-left {
  width: 80px;
}
.troubel-kind-mid {
  cursor: pointer;
  padding: 0 5px;
  margin: 0 5px;
}
.troubel-kind-right {
  cursor: pointer;
  padding: 0 5px;
  margin: 0 5px;
  color: #d0021b;
}
.page-tip {
  font-size: 18px;
  font-family: PingFangSC;
  font-weight: 800;
}
