.machine-edit-content {
  padding: 0 50px;
  font-size: 15px;
}
.machine-edit-button {
  margin-top: 30px;
  margin-left: 100px;
}
.machine-edit-timeline {
  margin-left: 100px;
  margin-top: 30px;
}
