.machine-table-action {
  display: flex;
  align-items: center;
  color: #579df2;
}
.machine-table-left {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.machine-table-right {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
