.machine-input {
  display: flex;
}
.machine-kind-arr {
  display: flex;
  flex-wrap: wrap;
}
.kind-btn {
  white-space: nowrap;
}
.machine-kind-lable {
  padding: 5px 15px;
  font-size: 15px;
  color: #0b76f3;
  border-radius: 5px;
  margin: 10px;
  background-color: #c3daf5;
  text-align: center;
}
.machine-kind-content {
  width: 300px;
  margin-top: 15px;
}
.machine-kind-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
