.machine-info-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 480px;
  border: 1px solid #e9e9e9;
  font-size: 12px;
}
.machine-info-flex {
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  height: 40px;
  line-height: 40px;
}
.machine-info-left {
  width: 110px;
  text-align: center;
  border-right: 1px solid #e9e9e9;
  background-color: #f7f7f7;
}
.machine-info-right {
  margin-left: 30px;
}
.machine-info-flexs {
  display: flex;
  height: 220px;
}
.machine-info-lefts {
  width: 110px;
  text-align: center;
  padding-top: 10px;
  border-right: 1px solid #e9e9e9;
  background-color: #f7f7f7;
}
.machine-info-rights {
  margin-left: 30px;
}
.machine-info-img {
  width: 300px;
  height: 200px;
  margin-top: 10px;
}
