.message-header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  height: 74px;
}
.message-header-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.message-header-item {
  padding-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}
.message-header-select {
  border-bottom: 5px solid #579df2;
  color: #579df2;
}
.message-header-noselect {
  border-bottom: 5px solid #fff;
}
.message-header-link {
  display: flex;
  align-items: center;
}
