



.content-link
  display flex
  font-size 15px
  color rgba(0, 0, 0, 0.6)
  cursor pointer

.content-link-block
  width 22px
  height 22px
  text-align center
  line-height 22px
  margin-right 10px
  background-color #579df2
  color #fff
