
.login-bg
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  background-image url('../../images/bg.png')
  background-repeat no-repeat
  background-position 15% 15%
  background-size 130%

.login-container
  margin 296px auto 0 auto
  padding 45px 70px 34px 70px
  background-color #fff
  width 400px

.login-text
  font-size 18px
  color rgba(0, 0, 0, 0.87)
  margin-bottom 5px

.login-verify
  display flex

.login-button
  background-color #579df2
  color #fff
  padding 6px 0
  white-space nowrap
  font-size 14px
  text-align center
  cursor pointer
  border-radius 4px
  margin-top 30px

.login-icon
  position absolute
  top 170px
  left 50%
  width 80px
  height 164px
  margin-left -40px

