

.machine-download-container
  margin-top 30px

.machine-download-flex
  display flex
  align-items center

.machine-download-text
  width 120px

.machine-download-button
  margin-top 20px


.machine-href
  text-decoration none
