

.machine-input-flex
  display flex
  align-items center
  font-size 15px
  color rgba(0, 0, 0, 0.87)
  margin-top 15px

.machine-input-flexs
  display flex
  align-items flex-start
  font-size 15px
  color rgba(0, 0, 0, 0.87)
  margin-top 15px

.machine-input-left
  width 100px
