
.machine-timeline
  font-size 14px

.machine-time-type
  font-weight 800
  margin-left 10px

.machine-time-des
  margin-left 5px


.timeline-edit-tip
  padding 25px


.timeline-edit-input
  padding  0 50px

.timeline-edit-button
  padding 30px 150px
