
.message-header-container
  display flex
  justify-content space-between
  padding 0 60px
  height 74px
  // padding

.message-header-left
  display flex
  justify-content space-between
  align-items flex-end

.message-header-item
  padding-bottom  6px
  margin-left 20px
  margin-right 20px
  font-size 16px
  cursor pointer

.message-header-select
  border-bottom  5px solid #579df2

.message-header-noselect
  border-bottom  5px solid #FFF

.message-header-right
  display flex
  align-items center
  font-size 15px
  color rgba(0, 0, 0, 0.6)

.message-header-right:hover
  color rgba(0, 0, 0, 0.6)

.message-header-icon
  width 22px
  height 22px
  background-color #579df2
  color #fff
  text-align center
  margin-right 10px
