
.nav-container
  // position absolute
  // top 0px
  // bottom 0px
  // left 0px
  // right 0px
  min-width 1200px

.nav-containers
  position absolute
  top 0px
  bottom 0px
  left 0px
  right 0px
  min-width 1200px

.nav-sider-log
  height 90px
  // background-color #4332
  background-image url('../../images/logo.png')
  background-size 18px 40px
  background-repeat no-repeat
  background-position 40% 40%
  font-size 16px
  color #0068d2
  display flex
  align-items flex-end
  flex-direction row-reverse
  padding-right 30px
  padding-bottom 20px


.sider-item
  font-size 14px
  padding 10px 0 10px  20px
  margin 10px 0
  cursor pointer

.sider-icon
  background-repeat no-repeat
  background-size 18px 18px
  background-position 0
  font-size 14px
  text-indent 25px

.nav-sider-message
  background-image url('../../images/messages-icon@3x.png')
  border-right 3px solid  #fff


.nav-sider-message-select
  background-image url('../../images/messages-icon-hl@3x.png')
  color #579df2
  border-right 3px solid  #579df2

.nav-sider-machine
  background-image url('../../images/device-icon@3x.png')
  border-right 3px solid  #fff


.nav-sider-machine-select
  background-image url('../../images/device-icon-hl@3x.png')
  color #579df2
  border-right 3px solid  #579df2

.nav-sider-trouble
  background-image url('../../images/bug-icon@3x.png')
  border-right 3px solid  #fff


.nav-sider-trouble-select
  background-image url('../../images/bug-icon-hl@3x.png')
  color #579df2
  border-right 3px solid  #579df2

.nav-sider-parts
  background-image url('../../images/parts-icon@3x.png')
  border-right 3px solid  #fff


.nav-sider-parts-select
  background-image url('../../images/parts-icon-hl@3x.png')
  color #579df2
  border-right 3px solid  #579df2

.nav-sider-user
  background-image url('../../images/users-icon@3x.png')
  border-right 3px solid  #fff


.nav-sider-user-select
  background-image url('../../images/users-icon-hl@3x.png')
  color #579df2
  border-right 3px solid  #579df2

.nav-sider-authority
  background-image url('../../images/authority-icon@3x.png')
  border-right 3px solid  #fff


.nav-sider-authority-select
  background-image url('../../images/authority-icon-hl@3x.png')
  color #579df2
  border-right 3px solid  #579df2

.nav-sider-work-order
  background-image url('../../images/record-icon@3x.png')
  border-right 3px solid  #fff


.nav-sider-work-order-select
  background-image url('../../images/record-icon-hl@3x.png')
  color #579df2
  border-right 3px solid  #579df2


.nav-content
  margin 20px
  background-color #fff
  box-shadow 0 0 2px 0 rgba(0, 0, 0, 0.12)
