

.new-user-container
  margin 20px 25px

.new-user-title
  font-size 18px
  font-family PingFangSC
  font-weight  500
  margin-bottom 30px

.new-user-item
  margin 8px 0


.new-user-item-left
  font-size 15px
  margin-top 5px
  align-items center

.new-user-button
  display flex
  justify-content space-between
  width 280px
  margin-left 120px
  margin-top 40px

