

.trouble-kind-arr
  display flex
  align-items center
  font-size 15px
  padding 5px 0

.troubel-kind-left
  width 80px


.troubel-kind-mid
  cursor pointer
  padding 0 5px
  margin 0 5px

.troubel-kind-right
  cursor pointer
  padding 0 5px
  margin 0 5px
  color #d0021b

// .trouble-kind-none
//   display none
