
.user-container
  // padding 20px
  background-color  #fff

.user-top
  height 200px
  background-color #543453
  display flex
  align-items center

.user-top-item
  background-color red
  text-align center
  padding 20px  0
