



.workorder-edit-title
  padding 25px 0 14px 20px
  font-weight 500
  font-size 18px
  color rgba(0, 0, 0, 0.87)


.workorder-edit-content
  padding 0 50px
  font-size 15px
  color rgba(0, 0, 0, 0.87)

.workorder-edit-flex
  display flex
  align-items flex-start
  font-size 15px
  margin-top 15px

.workorder-edit-left
  width 50px

.workorder-edit-right
  flex 1

.workorder-edit-tip
  margin-top 15px
  margin-bottom 15px

.workorder-edit-button
  margin-top 30px
  width 200px
  display flex
  justify-content space-between
